<div class="dashboard-container" style= "width:100%;">
    <div class="content">
        <div class="head-wrapper"> <!--ng-show="isDataAvailable"-->
        <div class="left">
                <h4>{{ 'My Traffic Jam' | translate}}</h4>
        </div>
        <div class="right">
            <div class="search-field">
                <input ng-model="listItems" name="listItems" placeholder="Search or filter by any field">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>

        <div class="content-desp">
            <div class="alert alert-danger" ng-show="error">{{'Data not available' | translate}}</div>
            <div class="loader" ng-show="isloading">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div class="imgv-workitem-basket table-responsive clear"> <!--ng-show="isDataAvailable"-->
                <table class="table mdl-data-table mdl-js-data-table mdl-shadow--1dp">
                    <thead>
                        <tr class="dnd-moved">
                            <th>{{'Workitem ID' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('InstanceId','InstanceIdAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('InstanceIdAsc')}"></i>
                                    <i ng-click="sortItems('-InstanceId','InstanceIdDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('InstanceIdDesc')}"></i>
                                </div>
                            </th>
                            <th>{{'Workitem Title' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('Title','TitleAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('TitleAsc')}"></i>
                                    <i ng-click="sortItems('-Title','TitleDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('TitleDesc')}"></i>
                                </div>
                            </th>
                            <th>{{'Create Date' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('CreateDateAsString','CreateDateAsStringAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('CreateDateAsStringAsc')}"></i>
                                    <i ng-click="sortItems('-CreateDateAsString','CreateDateAsStringDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('CreateDateAsStringDesc')}"></i>
                                </div>
                            </th>
                            <th>{{'Aging Stats (in days)' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('Aging','AgingAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('AgingAsc')}"></i>
                                    <i ng-click="sortItems('-Aging','AgingDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('AgingDesc')}"></i>
                                </div>
                            </th>
                            <th>{{'Document Type' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('DocumentType','DocumentTypeAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('DocumentTypeAsc')}"></i>
                                    <i ng-click="sortItems('-DocumentType','DocumentTypeDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('DocumentTypeDesc')}"></i>
                                </div>
                            </th>
                            <th>{{'Queue' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('WorkflowQueueName','asc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('asc')}"></i>
                                    <i ng-click="sortItems('-WorkflowQueueName','desc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('desc')}"></i>
                                </div>
                            </th>
                            <th>{{'Workflow' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('WorkflowName','WorkflowNameAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('WorkflowNameAsc')}"></i>
                                    <i ng-click="sortItems('-WorkflowName','WorkflowNameDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('WorkflowNameDesc')}"></i>
                                </div>
                            </th>
                            <th>{{'Status' | translate}}
                                <div class="sort">
                                    <i ng-click="sortItems('StatusAsString','StatusAsStringAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('StatusAsStringAsc')}"></i>
                                    <i ng-click="sortItems('-StatusAsString','StatusAsStringDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('StatusAsStringDesc')}"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rows dnd-moved" ng-repeat="item in myWorkItemBasketDetails | orderBy:sort |  filter:listItems | limitInstances:from:to" ng-click="setInstances(item);" ng-class="{'active':item.selected}">
                            <td><a href="#/trafficcopViewer/{{item.DocumentTypeId}}/{{item.DocumentId}}/{{item.DocumentType}}/{{item.InstanceId}}/{{item.StorageRepositoryId}}/002" target="_blank">{{item.InstanceId | translate}}</a></td>
                            <td>{{item.Title | translate}}</td>
                            <td>{{item.CreateDateAsString | translate}}</td>
                            <td>{{item.Aging | translate}}</td>
                            <td>{{item.DocumentType | translate}}</td>
                            <td>{{item.QueueName | translate}}</td>
                            <td>{{item.WorkflowName | translate}}</td>
                            <td>{{item.StatusAsString | translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>