<div>
    <div class="modal-header main-labels-static mdl-shadow--2dp">
        <h5 class="modal-title left">{{'Add Notes' | translate}}</h5>
        <div class="close right" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
    <div class="modal-body">
        <textarea ng-change="isTextAreaEmpty(notes)" ng-model="notes" cols="78" rows="5"  maxlength="2000"></textarea>
    </div>
    <div class="modal-footer">
        <button ng-disabled="isSubmitDisabled" class="addNotesBtn" ng-click="ok(notes)">Submit</button>
    </div>
</div>