<div class="business-area-wrapper">
    <div class="left boxes">
        <h5>{{'Business Area' | translate}}</h5>
        <div class="loader" ng-show="isBusinessAreaLoaded">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <select class="select" ng-required="true" ng-show="!isBusinessAreaLoaded" ng-model="user.selectedBusinessArea" ng-change="changeBusinessArea(user.selectedBusinessArea,businessAreaOptions[0].Name)" ng-options="i.Id as i.Name | translate for i in businessAreaOptions">
           <option disabled value="">{{'Select a Business Area' | translate}}</option>
        </select>
    </div>
    <div class="left boxes" ng-if="user.selectedBusinessArea!=undefined">
        <h5>{{'Document Type' | translate}}</h5>
        <div class="loader" ng-show="isDocumentTypeOptions">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <select class="select" ng-required="true" ng-show="!isBusinessAreaLoaded" ng-model="user.selectedDocumentTypeOptions" ng-change="changeDocumentTypeOptions(user.selectedDocumentTypeOptions,documentTypeOptions[0].Name)" ng-options="i.Id as i.Name | translate for i in documentTypeOptions" >
            <option disabled value="">{{'Select a Document Type' | translate}}</option>
        </select>
    </div>

</div>