<div class="dashboard-container">
    
    <div class="content">
        <div class="head-wrapper">
    
        </div>
        <div class="content-desp">
            <div class="loader" ng-show="isLoading">
                  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            </div>
            <iframe  ng-show="!isLoading" id="dashboardIframe" height="700" src="https://pepwap09853.corp.pep.pvt:9089/Dashboard/Index"></iframe>
        </div>
    </div>
    
</div>