<div modal-element="notes">
    <div class="modal-header main-labels-static mdl-shadow--2dp">
        <div class="list-icon left"><img ng-src="assets/images/doc-note-popup.png" aria-hidden="true"></div>
        <h5 class="modal-title left">{{'DOCUMENT NOTES' | translate}}</h5>
        <div class="close" ng-click="cancel()"><i class="fa fa-close" aria-hidden="true"></i></div>
    </div>
     <div class="modal-body">
        <div class="loader" ng-show="isloading">
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
         </div>
        <div class="imgv-workitem-basket table-responsive clear">
         <div ng-show="!isDataAvailable" class="alert alert-success">{{message | translate}}</div>
            <div class="topContent"  ng-show="isDataAvailable">
                <div class="cnt">
                    <h6 class="modalLabel">{{'Document ID:' | translate}}</h6><div class="modalVal instanceId"></div>
                </div>
                <div class="cnt">
                   <h6 class="modalLabel">{{'Storage Repository ID:' | translate}}</h6><div class="modalVal documentId"></div> 
                </div>
            </div>
                <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-show="isDataAvailable">
                    <thead>
                        <tr>
                            <th>{{'Entry Date' | translate}}
                            <div class="sort">
                                <i ng-click="sortItems('EntryDate','EntryDateAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('EntryDateAsc')}"></i>
                                <i ng-click="sortItems('-EntryDate','EntryDateDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('EntryDateDesc')}"></i>
                            </div>
                            </th>
                            <th>{{'Entry User Name' | translate}}
                            <div class="sort">
                                <i ng-click="sortItems('EntryUsername','EntryUsernameAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('EntryUsernameAsc')}"></i>
                                <i ng-click="sortItems('-EntryUsername','EntryUsernameDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('EntryUsernameDesc')}"></i>
                            </div>
                            </th>
                            <th>{{'Comments' | translate}}
                            <div class="sort">
                                <i ng-click="sortItems('Text','TextAsc')" class="fa fa-sort-asc" aria-hidden="true" ng-class="{active:isSetOrder('TextAsc')}"></i>
                                <i ng-click="sortItems('-Text','TextDesc')" class="fa fa-sort-desc" aria-hidden="true" ng-class="{active:isSetOrder('TextDesc')}"></i>
                            </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rows" ng-repeat="item in viewNotesDetails | orderBy:sort | filter:listItems |  limitInstances:from:to" ng-click="setInstances($index)" ng-class="{active:isSet($index)}">
                            <td>{{item.EntryDate | translate}}</td>
                            <td>{{item.EntryUsername | translate}}</td>
                            <td>{{item.Text | translate}}</td>
                        </tr>
                    </tbody>
                </table>
            <div ng-show="!isWorkflowDocument">
                <h5>{{'Add Notes' | translate}}</h5>
                <textarea ng-change="isTextAreaEmpty(notes)" ng-model="notes" cols="78" rows="5"  maxlength="2000"></textarea>
                <button ng-disabled="isSubmitDisabled" class="addNotesBtn show" ng-click="ok(notes)">{{'Submit' | translate}}</button>
            </div>
            </div>             
            
    </div>
   
</div>
