<div>
    <div class = "reports-list">
        <h4>Select a report type to view</h4>
        <ul>
           <li ng-repeat ="reportCategorie in reportCategories" >
             <a href="{{reportCategorie.url}}" target="_blank" > {{reportCategorie.reportName | translate}} </a>
           </li>
        </ul>           
    </div>
    <div>
        <iframe height="700"
                id="workItemIframe"
                src="{{iFrameReportUrl}}"
                width="100%"> </iframe>
    </div>

</div>

