<div class="img-vision-retrieval"  ng-controller="retrievalController">
    <div class="main-labels-static left">
        <ul class="lists">
            <li><a href="javascript:" a-disabled="isExportTabsDisabled()" ng-click="exportToExcel()"><img ng-src="assets/images/excel{{isExportTabsDisabled()?'-inactive':''}}.png"/>{{'Export to Excel' | translate}}</a></li>
            <li><a href="javascript:" a-disabled="isAdminTabsDisabled()" ng-click="showAddPageModal()"><img ng-src="assets/images/add{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'Add Pages' | translate}}</a></li>
            <li><a href="#/upload?copyDoc={{documentID}}" a-disabled="isAdminTabsDisabled()"><img ng-src="assets/images/copy-page{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'Copy Document' | translate}}</a></li>
            <li><a href="javascript:" a-disabled="isAdminTabsDisabled()" ng-click="showEmailModal()"><img ng-src="assets/images/mail{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'Email' | translate}}</a></li>
            <li><a href="javascript:" a-disabled="isAdminTabsDisabled()" copy-to-clipboard="{{link}}" ng-click="copyLink()"><img ng-src="assets/images/link{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'Link' | translate}}</a></li>
            <li><a href="javascript:" a-disabled="isAdminTabsDisabled()" ng-click="showViewHistory()"><img ng-src="assets/images/view-work-his{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'View Workflow History' | translate}}</a></li>
            <li><a href="javascript:" a-disabled="isAdminTabsDisabled()" ng-click="showDocumentNotesAdmin()"><img ng-src="assets/images/view-doc-note{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'View Document Notes' | translate}}</a></li>
            <li><a href="javascript:" a-disabled="isAdminTabsDisabled()" ng-click="showViewNotes()"><img ng-src="assets/images/workflow{{isAdminTabsDisabled()?'-inactive':''}}.png"/>{{'View Workflow Notes' | translate}}</a></li>
            <!--<li><a href="javascript:" a-disabled="isAdminTabsDisabled()" ng-click="addNotesWorkItem()"><img ng-src="assets/images/add-page{{isAdminTabsDisabled()?'-inactive':''}}.png"/>Add Document Notes</a></li>-->
        </ul>
    </div>
    <div class="imgv-admin clear">
        <textarea style="display: none" ng-model="link" copy-link copy-link-visible>{{link | translate}}</textarea>
        <div class="content">
            <div class="head-wrapper">
                <div class="left">
                    <h5>{{'Select a Business Area to load the search fields. Enter the values in any of the search fields and click the search button to display the results in grid.' | translate}}</h5>
                </div>
            </div>
            <div class="content-desp">
                <div accordion accordion-list="createDocumentLists" accordion-list-default-active="documentType" accordion-controller-name="retrievalController"></div>
            </div>
        </div>
    </div>
</div>