<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Next Gen Digital Imaging</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    </script>
    <script src="data/englishLang.js"></script>
    <script src="data/russianLang.js"></script>
    <script src="bower-components/jquery-2.0.3.js"></script>
    <script src="bower-components/angular.js"></script>
    <script src="bower-components/angular-translate.js"></script>
    <script src="bower-components/tmhDynamicLocale.js"></script>
    <script src="bower-components/angular-route.js"></script>
    <script src="bower-components/angular-resource.js"></script>
    <script src="bower-components/angular-cookies.js"></script>
    <script src="bower-components/bootstrap.min.js"></script>
    <script src="bower-components/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="bower-components/dragndrop.table.columns.js"></script>
    <script src="bower-components/angular-animate.js"></script>
    <script src="bower-components/bootstrap-filestyle.js"></script>
    <script src="bower-components/angular-table-resize.js"></script>
    <script src="app.js"></script>
    <script src="services/urlConstants.js"></script>
    <script src="services/userDetailsServices.js"></script>
    <script src="services/myWorkItemBasketServices.js"></script>
    <script src="services/myWorkItemViewServices.js"></script>
    <script src="services/adminServices.js"></script>
    <script src="services/retrievalResultsServices.js"></script>
    <script src="services/commonServices.js"></script>
    <script src="filters/appFilters.js"></script>
    <script src="directives/appDirectives.js"></script>
    <script src="controllers/headerController.js"></script>
    <script src="controllers/footerController.js"></script>
    <script src="controllers/myWorkItemBasketController.js"></script>
    <script src="controllers/ModalInstanceViewHistoryController.js"></script>
    <script src="controllers/ModalInstanceViewNotesController.js"></script>
    <script src="controllers/ModalInstanceAddNotesController.js"></script>
    <script src="controllers/ModalInstanceAddFilesController.js"></script>
    <script src="controllers/ModalInstanceDeleteController.js"></script>
    <script src="controllers/ModalInstanceLinkController.js"></script>
    <script src="controllers/ModalInstanceEmailController.js"></script>
    <script src="controllers/ModalInstanceDocumentNotesController.js"></script>
    <script src="controllers/ModalInstanceUserPreferenceController.js"></script>
    <script src="controllers/ModalInstanceUserSystemInfoController.js"></script>
    <script src="controllers/ModalInstanceExportExcelController.js"></script>
    <script src="controllers/myWorkItemViewController.js"></script>
    <script src="controllers/webUploadController.js"></script>
    <script src="controllers/adminController.js"></script>
    <script src="controllers/retrievalController.js"></script>
    <script src="controllers/retrievalBusinessAreaController.js"></script>
    <script src="controllers/retrievalIndexingFieldsController.js"></script>
    <script src="controllers/dashboardController.js"></script>
    <script src="controllers/datePickerController.js"></script>
    <script src="controllers/viewerController.js"></script>
    <script src="controllers/reportsController.js"></script>
    <script src="TrafficCop/trafficcopController.js"></script>
    <script src="TrafficCop/trafficcopService.js"></script>
    <script src="services/uploadServices.js"></script>
    <link rel="stylesheet" href="bower-components/bootstrap.css" />
    <link rel="stylesheet" href="bower-components/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="bower-components/dragndrop.table.columns.css" />
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="bower-components/font.css" type="text/css">
</head>

<body ng-app="imgVisionApp">
    <div class="row">
        <div class="header" ng-controller="headerController">
            <div loader loader-show="ishomeLoader()"></div>
            <div class="header-content">
                <div class="left">
                    <h3><img src="assets/images/nextgen-logo.png"</h3></div>
                <div class="right user-details">
                    <div class="menus left">
                        <div class="user left btn-group" uib-dropdown on-toggle="toggled(open)" drop-down-open="isUserSubmenuVisible">
                            <img class="icon" src="assets/images/user.png" /> {{'Welcome' | translate }} {{userDetails.FullName}}
                            <a href="javascript:void(0)" id="user-dropdown" uib-dropdown-toggle ng-if="!isWorkItem"><i class="fa fa-angle-down" ng-class="{true:'fa-angle-up', false:'fa-angle-down'}[isUserSubmenuVisible==true]" aria-hidden="true"></i></a>
                            <div class="left dropdown-menu" uib-dropdown-menu aria-labelledby="user-dropdown" ng-if="!isWorkItem">
                                <div class="arrow-up"></div>
                                <ul class="sub-menus card">
                                    <li>
                                        <a href="javascript:void(0)" ng-mouseover="isUserHover = true" ng-mouseleave="isUserHover = false" ng-click="showUserPreferences()">
                                            <img ng-src="{{isUserHover?'assets/images/user-pre-hover.png':'assets/images/user-pre.png'}}" />{{'User Preference' | translate}}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" ng-mouseover="isPermissionHover = true" ng-mouseleave="isPermissionHover = false"><img ng-src="{{isPermissionHover?'assets/images/permission-hover.png':'assets/images/permission.png'}}" />{{'Permission' | translate}}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" ng-click="logOut()" ng-mouseover="isLoginHover = true" ng-mouseleave="isLoginHover = false"><img ng-src="{{isLoginHover?'assets/images/login_hover.png':'assets/images/login.png'}}" />{{'Logout' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="question left btn-group" uib-dropdown on-toggle="toggled(open)" drop-down-open="isQuestionSubmenuVisible" ng-if="!isWorkItem">
                            <i class="fa fa-question left" aria-hidden="true"></i>
                            <a href="javascript:void(0)" id="question-dropdown" uib-dropdown-toggle><i class="fa fa-angle-down" ng-class="{true:'fa-angle-up', false:'fa-angle-down'}[isQuestionSubmenuVisible==true]" aria-hidden="true"></i></a>
                            <div class="left dropdown-menu" uib-dropdown-menu aria-labelledby="question-dropdown">
                                <div class="arrow-up"></div>
                                <ul class="sub-menus card">
                                    <li>
                                        <a href="javascript:void(0)" ng-mouseover="isGuideHover = true" ng-mouseleave="isGuideHover = false"><img ng-src="{{isGuideHover?'assets/images/permission-hover.png':'assets/images/permission.png'}}" />{{'User Guide' | translate}}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" ng-mouseover="isContactHover = true" ng-mouseleave="isContactHover = false"><img ng-src="{{isContactHover?'assets/images/permission-hover.png':'assets/images/permission.png'}}" />{{'Contact Us' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="logo left">
                            <img src="assets/images/logo.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-wrapper">
            <div class="main-content">
                <div class="menu_tabs" ng-controller="menuController" ng-show="isShowMenu">
                    <a href="#/home" class="menu" ng-class="getClass('/home')">{{ 'My Work Basket' | translate }}<span ng-class="{ 'arrow': getArrow('/home') }"></span></a>
                    <a href="#/admin" class="menu" ng-class="getClass('/admin')">{{ 'Workflow' | translate  }}<span ng-class="{ 'arrow': getArrow('/admin') }"></span></a>
                    <a href="#/retrieval" class="menu" ng-class="getClass('/retrieval')">{{ 'Retrieval' | translate  }}<span ng-class="{ 'arrow': getArrow('/retrieval') }"></span></a>
                    <a href="#/upload" class="menu" ng-class="getClass('/upload')">{{ 'Web Upload' | translate  }}<span ng-class="{ 'arrow': getArrow('/upload') }"></span></a>
                    <a href="#/reports" class="menu" ng-class="getClass('/reports')">{{ 'Reports' | translate  }}<span ng-class="{ 'arrow': getArrow('/reports') }"></span></a>
                    <a href="#/dashboard" class="menu" ng-class="getClass('/dashboard')">{{ 'Dashboard' | translate  }} <span ng-class="{ 'arrow': getArrow('/dashboard') }"></span></a>
                    <a href="#/trafficcop" class="menu" ng-class="getClass('/trafficcop')">{{ 'TrafficCop' | translate  }} <span ng-class="{ 'arrow': getArrow('/trafficcop') }"></span></a>
                </div>
                <div class="content-box" ng-view>

                </div>
            </div>
        </div>
    </div>
    <div class="footer" ng-controller="footerController">
        <div class="footer-content">
            <div class="left notify" show-notification></div>
        </div>
    </div>
</body>

</html>