<div class="my-work-item-view-container">
  <div class="main-labels-static mdl-shadow--2dp mdl-navigation left">
    <ul class="lists">
      <li>
        <a href="javascript:"
           ng-click="showEmailModal()">
        <img ng-src="assets/images/mail.png" />{{'Email' | translate}}</a>
      </li>
      <li>
        <a copy-to-clipboard="{{link}}"
           href="javascript:"
           ng-class="{active:isDropDownActive('copy')}"
           ng-click="copyLink()">
        <img ng-src="assets/images/link.png" />{{'Link' | translate}}</a>
      </li>
      <li>
        <a href="javascript:"
           ng-click="downloadWorkItem()">
        <img ng-src="assets/images/download .png" />{{'Print/Save' | translate}}</a>
      </li>
      <li>
        <a a-disabled="isReadOnly"
           href="javascript:"
           ng-click="addFilesWorkItem()">
        <img ng-src="assets/images/add{{isReadOnly?'-inactive':''}}.png" />{{'Add Pages' | translate}}</a>
      </li>
      <li>
        <a href="javascript:"
           ng-click="showViewNotes()">
        <img ng-src="assets/images/workflow.png" />{{'View Workflow Notes' | translate}}</a>
      </li>
      <li>
        <a href="javascript:"
           ng-click="showViewHistoryWorkItemView()">
        <img ng-src="assets/images/view-work-his.png" />{{'View Workflow History' | translate}}</a>
      </li>
      <li>
        <a href="javascript:"
           ng-click="showDocumentNotesAdmin()">
        <img ng-src="assets/images/view-doc-note.png" />{{'View Document Notes' | translate}}</a>
      </li>
    </ul>
  </div>
  <div class="alert alert-danger"
       ng-show="error"
       role="alert">{{'Unable to move the Work Item' | translate}} 
  <i aria-hidden="true"
     class="fa fa-close right"
     ng-click="error=false"></i></div>
  <div class="main-labels-dynamic m10">
    <button class="btn routing-btns violet"
            ng-click="MoveWorkItem(btn.ID,btn.Name)"
            ng-if="isRoutingButton()"
            ng-repeat="btn in routingButtons">{{btn.ToQueueName | translate}}</button>
    <select class="select routing-btns"
            ng-click="MoveWorkItem(btn.ID,btn.Name)"
            ng-if="!isRoutingButton()"
            ng-repeat="btn in routingButtons">
      <option>{{btn.ToQueueName | translate}}</option>
    </select>
    <button class="btn orange right"
            ng-disabled="prevWorkflowQueueID==3"
            onclick="window.close()">&#10006;&nbsp;&nbsp;{{'Close' | translate}}</button>
  </div>
  <div class="content">
    <div class="head-wrapper"></div>
    <div class="content-desp">
      <div class="loader"
           ng-show="isLoading">
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
      </div>
      <div class="iframeContainer left">
        <iframe height="700"
                id="workItemIframe"                
                width="100%"></iframe> <!--src="{{iframeUrl}}"-->
      </div>
      <div class="create-document-lists left work-item-wrapper">
        <div class="business-area-wrapper">
          <div class="loader"
               ng-show="isSelectResultsLoading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </div>
          <div class="left"
               ng-show="isSelectResultsAvailable">
            <form name="saveWorkItemForm"
                  novalidate="">
              <div class="propertiesTitle">{{ 'PROPERTIES' | translate}}</div>
              <div style="line-height:30px;"> 
              <div >
                <span>{{'WorkItem ID:' | translate}}</span>
                <span></span>
              </div>
              <div >
                <span>{{'Batch ID:' | translate}}</span>
                <span></span>
              </div>
              <div>
                <span>{{'Document ID:' | translate}}</span>
                <span></span>
              </div>
              <div>
                <span>{{'Create Date:' | translate}}</span>
                <span></span>
              </div>
              <div>
                <span>{{'Title:' | translate}}</span>
                <span></span>
              </div>
              <div>
               <div style="float:left; margin-right:20px;">
                 <div>
                   <span>{{'Select a Layer' | translate}} </span>
                 </div>
                 <div>
                  <select class="document-select" style="min-width:200px;">
                      <option value="1">Alpha</option>
                      <option value="2">Beta</option>
                      <option value="3">Gamma</option>
                      <option value="4">Delta</option>
                      <option value="5">Epsilon</option>  
                  </select>
                 </div>
                 </div>
                 <div >
                 <div>
                    <span>{{'Select a Document Type' | translate}} </span>
                 </div>
                 <div>
                  <select class="document-select" style="min-width:200px;">
                      <option value="1">Alpha</option>
                      <option value="2">Beta</option>
                      <option value="3">Gamma</option>
                      <option value="4">Delta</option>
                      <option value="5">Epsilon</option>  
                  </select>
                  </div>
                 </div>
                 <div style="margin-top:20px;" >
                  <div>
                    <span>{{'Select Special Document Type' | translate}} </span>
                  </div>
                   <div>
                      <select class="document-select" style="min-width:200px;">
                      <option value="1">Alpha</option>
                      <option value="2">Beta</option>
                      <option value="3">Gamma</option>
                      <option value="4">Delta</option>
                      <option value="5">Epsilon</option>  
                      </select>
                   </div>
                 </div>
                </div>
              </div>
              <fieldset style="margin-top:20px;" >
                <div style="float:left;" >
                      <select id="sbOne"
                      multiple="multiple"
                      style="height:150px; width:150px;">
                      <option value="1">Alpha</option>
                      <option value="2">Beta</option>
                      <option value="3">Gamma</option>
                      <option value="4">Delta</option>
                      <option value="5">Epsilon</option>  
                      </select>
               </div>
               <div  style="margin:0 30px 0 30px; float:left;">
                 <div>
                  <button style="margin:5px 0 5px 0 " > {{'Add' | translate}} </button>
                 </div>
                 <div>
                  <button style="margin:5px 0 5px 0" > {{'Remove' | translate}} </button>
                 </div>
                 <div>
                   <button style="margin:5px 0 5px 0">
                      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                   </button>
                 </div>
                 <div>
                   <button style="margin:5px 0 5px 0">
                      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                   </button>
                 </div>
               </div>
               <div>
                   <select id="sbOne"
                      multiple="multiple"
                      style="height:150px; width:150px;">
                   <option value="1">Alpha</option>
                   <option value="2">Beta</option>
                   <option value="3">Gamma</option>
                   <option value="4">Delta</option>
                   <option value="5">Epsilon</option>
                   </select>
               </div>
               <div style="margin:20px 0 20px 0;" >
                  <select class="document-select" style="min-width:200px;">
                      <option value="1">Alpha</option>
                      <option value="2">Beta</option>
                      <option value="3">Gamma</option>
                      <option value="4">Delta</option>
                      <option value="5">Epsilon</option>  
                  </select>
               </div>
               <div>
                 <textarea rows="5" cols="60"></textarea>
               </div>

             </fieldset>
              
              <button a-disabled="isReadOnly || saveWorkItemForm.$invalid"
                      class="btn blue saveIndexFieldsBtn"
                      ng-click="saveWorkItem()">{{'Save' | translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
